#Enable backend url rewriting
Options +FollowSymLinks
RewriteEngine On



#Rewrite article url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/artikkel/?([^/]*)?/? [NC]
RewriteRule ^(.*)$ /article.php?linkId=%1 [L,QSA]

#Rewrite skriv-artikkel url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/skriv-artikkel/?([^/]*)?/? [NC]
RewriteRule ^(.*)$ /create-article.php?linkId=%1 [L,QSA]

#Rewrite youtube url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/youtube/?([^/]*)?/? [NC]
RewriteRule ^(.*)$ /youtube.php?videoId=%1 [L,QSA]



#Allow PHP/HTML pages to load without the filename extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html